#maindom {
	width:2000px;
	height:2000px;
	position: relative;
	/*
	background-size: 25px 25px;
	background-image:
		linear-gradient(to right, #E0E0E0 1px, transparent 1px),
		linear-gradient(to bottom, #E0E0E0 1px, transparent 1px);
		*/
  background: white;
  background-image: radial-gradient(grey 1px, transparent 0);
  background-size: 24px 24px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
}
