:root {
  --alWE-font-size: 14px;
  --alWE-link-width: 3px;
  --alWE-link-hover-width: 6px;
  --alWE-pane-boxshadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --alWE-pane-transition-width: width 0.3s cubic-bezier(.25,.8,.25,1);
  --alWE-pane-transition-all: all 0.3s cubic-bezier(.25,.8,.25,1);
  --alWE-default-blue: #0473dc;
  --alWE-default-light-blue: #0473fa;
  --alWE-color-yes: #51a646;
  --alWE-color-no: #bb5cff;
}

.height100 {
  height: 100%;
}

.topCanvas {
  color: #626262;
  font-size: var(--alWE-font-size);
  position: relative;
  border: 1px #A0A0A0 dashed;
}

.topCanvas svg {
  position: absolute;
  transform: translate(19999px,19999px);
  overflow: visible!important;
}

.topCanvas path.bluePath {
  fill: none;
  /*stroke: #4ea9ff;*/
  stroke: var(--alWE-default-blue);
  stroke-width: var(--alWE-link-width);
  transform:translate(-19999px,-19999px);
  cursor:pointer;
}

.topCanvas path.bluePath:hover {
	stroke-width: var(--alWE-link-hover-width);
}

.topCanvas path.bluePath.silverPath {
  stroke: silver;
}
.topCanvas path.bluePath.silverPath:hover {
  stroke-width: var(--alWE-link-width);
}

.topCanvas path.bluePath.svg_stroke_dash_array {
    stroke-dasharray: 10,10;
}
.topCanvas path.bluePath.svg_stroke_dash_array:hover {
    stroke-width: var(--alWE-link-width);
}

/* output node from a yes no , yes node */
.topCanvas path.output_yes {
  stroke: var(--alWE-color-yes);
}
.topCanvas path.output_no {
  stroke: var(--alWE-color-no);
}


/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */

.alweNodeWrapper {
  background: #fff;
  position: absolute;
  padding: 0px;
  border: 1px solid #cacaca;
  user-select: none;
  box-shadow: var(--alWE-pane-boxshadow);

}

.alweNodeWrapper.editorselected {
  border: 4px solid #217CE8;
}
.alweNodeWrapper .nodecontent {
  cursor: grab;
}

.alweNodeWrapper .nodecontent .alweResizeBox {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #A8A8A8;
  border-right: 2px solid #A8A8A8;
  position: absolute;
  right: -3px;
  bottom: -3px;
}


.nodecontent.cursormove {
  cursor: move;
}

/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
.targetbox {
	border: 3px dashed silver;
	padding: 12px;
	border-radius: 2px;
	position: absolute;
	background: white;
	overflow-wrap: break-word;
	box-sizing: border-box; /* border box sizing is very important !! */
	display: flex;
	justify-content: center;
}

.targetbox:hover,    .targetbox:active,      .targetbox.dragover {
	border: 3px dashed dodgerblue;
    box-shadow: inset 0px 0px 4px 1px dodgerblue;
	cursor: copy;
}


/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */

.alweNodeWrapper .alweInputs ,   /*output box here*/  .alweNodeWrapper .alweOutputs {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 0; /* height 0 because the contents are input, output SVG's*/
}


.alweNodeWrapper .alweInputs .alweInput {
  background: #fff;
  height: 14px;
  width: 14px;
  border : 1px solid var(--alWE-default-blue);
  background: var(--alWE-default-blue);
  position: relative;
  top: -16px;
  /*padding: 2px 2px;*/
  margin: 0 3px;
}

.alweNodeWrapper .alweInputs svg.alweInput{
  transform: none;
}

.alweNodeWrapper .alweInputs .alweInput:hover, .alweNodeWrapper .alweInputs .alweInput.active {
  background: var(--alWE-default-light-blue);
  border : 1px solid var(--alWE-default-light-blue);
}



/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */


.alweNodeWrapper .alweOutputs .alweOutput {
  background: #fff;
  position: relative;
  height: 27px;
  width: 27px;
  border : 1px solid var(--alWE-default-blue);
  background: var(--alWE-default-blue);
  cursor: crosshair;
  margin: 0 6px;
  padding: 1px 1px;
  top: -13px;
}

.alweNodeWrapper .alweOutputs .alweOutput:hover, .alweNodeWrapper .alweOutputs .alweOutput.active {
  background: var(--alWE-default-light-blue);
  border : 1px solid var(--alWE-default-light-blue);
}

.alweNodeWrapper .alweOutputs svg.alweOutput {
  transform: none;
}
.alweNodeWrapper .alweOutputs svg.alweOutput.yes {
  border : 1px solid var(--alWE-color-yes);
  background: var(--alWE-color-yes);
  transform: none;
}
.alweNodeWrapper .alweOutputs svg.alweOutput.no {
  border : 1px solid var(--alWE-color-no);
  background: var(--alWE-color-no);
  transform: none;
}

.alweNodeWrapper div.bottomTool {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -35px;
    right: 0px;
    overflow: visible;
    background-color: #4cb9ea;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alweNodeWrapper div.bottomTool:hover  , .alweNodeWrapper div.bottomTool:active{
    background-color: #c2282c;
}

.alweNodeWrapper .bottomTool svg {
    width: 15px;
    height: 15px;
    transform: none;
}



/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
.componentArea {
  box-shadow: var(--alWE-pane-boxshadow);
  color: #626262;
  height: calc(100% - 50px);
  z-index: 998;
  position: absolute;
  right: 0px;
  background: #fff;
}
.componentArea.open {
  width: 358px;
  transition: var(--alWE-pane-transition-width);
}
.componentArea.closed {
  width: 0px;
  transition: var(--alWE-pane-transition-width);
}
.componentArea .componentContent {
  overflow: auto;
  height: 100%;
}



.componentArea .componentContent .alweComponentFilter {

}

.componentArea .componentContent .alweComponentFilter svg {
  /* for the search magnifying glass */
  position: relative;
  top: -26px;
  left: 10px;
}

.componentArea .componentContent .alweComponentFilter input {
  display: block;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #E8E8EF;
  box-sizing: border-box;
  text-indent: 35px;
  line-height: 35px;
  font-size: var(--alWE-font-size);
}

.componentArea .componentContent.closed {
  display: none;
}
.componentArea .componentContent .componentContentItem, .componentArea .componentContent .topComponentInfoBox {
  width: 100%;
  user-select: none;
  padding: 17px 0px;
  cursor: pointer;
  font-size: var(--alWE-font-size);
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* component open, close button ">>" */
.componentArea .closeOpenButton {
  box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.12);
  user-select: none;
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  left: -48px;
  font-weight: bold;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px 0 0 5px;
  border-bottom: 1px solid #E8E8EF;
  border-left: 1px solid #E8E8EF;
  border-top: 1px solid #E8E8EF;
  display: flex;
	align-items: center;
    text-align: center;
}

.componentArea .componentContent .componentContentItem:hover {
  background-color: #f9f9f9;
  /*box-shadow: 0 2px 4px 1px rgba(0,0,0,0.22);
  */
}
.componentArea .closeOpenButton .indicator, .componentArea .closeOpenButton .indicator.open {
	width: 100%;
  transform: rotate(0deg);
  transition: var(--alWE-pane-transition-all);
}
.componentArea .closeOpenButton .indicator.closed {
	width: 100%;
  transform: rotate(180deg);
  transition: var(--alWE-pane-transition-all);
}


/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */
/* ******************************************************************* */


.editorArea {
  box-shadow: var(--alWE-pane-boxshadow);
  color: #626262;
  overflow: scroll;
  height: calc(100% - 50px);
  z-index: 999;
  position: absolute;
  background: #fff;
  right: 1px;
}
.editorArea.open {
  width: 358px;
  transition: var(--alWE-pane-transition-width);
}
.editorArea.closed {
  width: 0px;
  transition: var(--alWE-pane-transition-width);
}

.editorArea .editorContent {
}

.editorArea .editorContent.closed {
    display: none;
}

.editorArea .editorClose {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #d0d0d0;
  background-color: #fff;
}
.editorArea .editorClose.closed {
  display: none;
}

.editorArea .editorClose .editorCloseButton, .editorArea .editorClose .editorDeleteButton {
  font-size: var(--alWE-font-size);
  background-color: #FFF;
  z-index: 999;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px;
  user-select: none;
  text-align: center;
  color: #253134;
  border: 1px solid #c0c0c0;
  width: 80%;
  margin: 16px auto;
  /*transition: all .3s cubic-bezier(.05,.03,.35,1);*/
  transition: var(--alWE-pane-transition-all);
}
.editorArea .editorClose .editorDeleteButton {
  color: rgb(249, 38, 114);
  border: 1px solid rgb(249, 38, 114);
}

